In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path
from context import wfm

%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
path = Path().resolve().parent
input_path = path / "data" / "input"

In [3]:
input_data = wfm.preprocessing.get_input_data(input_path)
input_data.head()

,wildfire,id,año,material,npisos,h_viv,n_daño,orientacio,elevación,pendiente,...,fact_agua,n_conjman,d_conj_man,n_conj10m,d_conj_10m,n_conj20m,d_conj_20m,cord_x,cord_y,geometry
0,Limache,0,1978.0,Sólido,1.0,2.5,Ninguno,E,67.4828,11.326300,...,No,6,10.0000,13,10.0000,4,20.0000,291295.0,6347530.0,"POLYGON ((291288.520 6347524.396, 291294.786 6..."
1,Limache,0,2004.0,Liviano,1.0,2.5,Ninguno,E,67.9629,10.550100,...,No,6,10.0000,13,10.0000,4,20.0000,291301.0,6347550.0,"POLYGON ((291298.638 6347547.595, 291299.696 6..."
2,Limache,0,2009.0,Liviano,1.0,2.5,Ninguno,E,64.9530,10.819000,...,No,6,10.0000,13,10.0000,4,20.0000,291300.0,6347520.0,"POLYGON ((291298.469 6347519.147, 291300.967 6..."
3,Limache,0,1978.0,Liviano,1.0,2.5,Ninguno,E,61.4631,0.953306,...,No,6,10.0000,12,10.0000,4,20.0000,291334.0,6347500.0,"POLYGON ((291329.666 6347502.326, 291340.503 6..."
4,Limache,0,1978.0,Sólido,1.0,2.5,Ninguno,E,61.5823,0.693135,...,No,6,23.5041,12,23.5041,4,37.6067,291371.0,6347510.0,"POLYGON ((291363.407 6347527.937, 291365.271 6..."

In [ ]:
g = sns.countplot(
    df.sort_values(col),
    x=col,
    hue=TARGET_COLUMN,
    hue_order=["Parcial", "Total", "Ninguno"],
    multiple="dodge",
    shrink=.8,
    palette="Set2",
    legend=True,
)
g.get_legend().set_title(redable_target)

In [5]:
df = input_data.copy()

In [13]:
df["material"].astype(object).unique()

array(['Sólido', 'Liviano', nan, 'Mixto'], dtype=object)

In [11]:
df.loc[df["material"].sort_values().index, :]

,wildfire,id,año,material,npisos,h_viv,n_daño,orientacio,elevación,pendiente,...,fact_agua,n_conjman,d_conj_man,n_conj10m,d_conj_10m,n_conj20m,d_conj_20m,cord_x,cord_y,geometry
1132,Rocuant,0,1980.0,Liviano,1.0,2.5,Ninguno,SW,204.345,28.12990,...,Sin factibilidad,13,47.73620,22,47.8082,1,66.9271,258633.0,6337701.0,"POLYGON ((258633.617 6337705.867, 258635.459 6..."
1376,Rocuant,0,1994.0,Liviano,1.0,2.5,Ninguno,NW,193.435,39.05240,...,Con factibilidad,10,9.97479,17,10.0000,1,22.9614,258310.0,6337978.0,"POLYGON ((258318.365 6337982.307, 258319.550 6..."
1375,Rocuant,0,1980.0,Liviano,1.0,2.5,Ninguno,NE,194.397,23.02050,...,Con factibilidad,10,27.14030,17,15.8787,1,41.8533,258329.0,6337974.0,"POLYGON ((258321.921 6337971.809, 258323.106 6..."
1374,Rocuant,0,1980.0,Liviano,2.0,5.0,Ninguno,NE,199.209,28.32760,...,Sin factibilidad,10,26.36820,17,20.5067,1,40.4336,258324.0,6337966.0,"POLYGON ((258316.270 6337966.284, 258319.127 6..."
1373,Rocuant,0,1980.0,Liviano,1.0,2.5,Ninguno,E,191.115,15.07820,...,Sin factibilidad,10,10.00000,17,10.0000,1,20.0000,258378.0,6337971.0,"POLYGON ((258373.866 6337972.085, 258378.628 6..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055,Rodelillo,0,1980.0,NaN,0.0,0.0,Total,SE,142.017,7.67980,...,Sin factibilidad,5,13.80070,7,13.8007,6,26.3486,258836.0,6339880.0,"POLYGON ((258832.592 6339883.243, 258840.974 6..."
2056,Rodelillo,0,1980.0,NaN,0.0,0.0,Total,SE,143.611,8.63043,...,Sin factibilidad,5,10.00000,7,10.0000,6,20.0000,258848.0,6339880.0,"POLYGON ((258844.784 6339879.603, 258845.292 6..."
2057,Rodelillo,0,2018.0,NaN,0.0,0.0,Total,SE,137.769,19.06130,...,Sin factibilidad,5,10.00000,7,10.0000,6,20.0000,258831.0,6339870.0,"POLYGON ((258827.089 6339872.999, 258837.164 6..."
2058,Rodelillo,0,1980.0,NaN,0.0,0.0,Total,SW,128.048,32.56630,...,Sin factibilidad,5,10.00000,7,10.0000,6,20.0000,258796.0,6339890.0,"POLYGON ((258799.180 6339892.405, 258799.128 6..."
2059,Rodelillo,0,1980.0,NaN,0.0,0.0,Parcial,SW,146.536,13.88570,...,Sin factibilidad,5,13.68770,7,13.6877,6,26.5004,258866.0,6339870.0,"POLYGON ((258859.418 6339873.602, 258860.688 6..."

In [ ]:
g = sns.catplot(
    data=input_data,
    kind="bar",
    x="material",
    y=, hue="sex",
    ci="sd", palette="dark", alpha=.6, height=6
)
g.despine(left=True)
g.set_axis_labels("", "Body mass (g)")
g.legend.set_title("")

In [ ]:
df = input_data.fillna("N/A").astype({col: "category" for col in wfm.CAT_COLUMNS})

In [ ]:
input_data.

In [ ]:
type(ax)

In [ ]:
g.get_legend()

In [ ]:
dir(g)

In [ ]:
# fig, ax = plt.subplots(figsize=(10, 8))
g = sns.histplot(data=df, x="material", hue="n_daño", multiple="dodge", shrink=.8)
# g._legend.set_title("title")
g.get_legend().set_title("holi")
# legend.set_title("holi
# ax.set_label("HOILI")
plt.show()

In [ ]:
ax

In [ ]:
sns.pairplot(
    input_data[wfm.NUM_COLUMNS + [wfm.TARGET_COLUMN]],
    hue=wfm.TARGET_COLUMN,
    diag_kind="hist",
    corner=True,
    height=20,
    palette="Set2"
)
plt.title(f"Pairplot variables numéricas")
plt.tight_layout()
plt.savefig(images_path / f"numeric_pairplot.png")
plt.show()

In [ ]:
from itertools import permutations

In [ ]:
a    print(col1, col2)

In [ ]:
plt.figure(figsize=(8, 8))
g = sns.scatterplot(
    data=input_data,
    x=col1,
    y=col2,
    hue="n_daño",
    linewidth=0,
    alpha=.8
)
g.get_legend().set_title(redable_target)
plt.xlabel(redable_col)
plt.ylabel("Conteo")
plt.xticks(rotation=50.4, horizontalalignment="left")
plt.title(f"Histograma de {redable_col} por {redable_target}")
plt.tight_layout()
# plt.savefig(images_path / f"histogram_{col}.png")
plt.show()

In [ ]:
from string import ascii_letter

In [ ]:
# Compute the correlation matrix
corr = input_data[wfm.NUM_COLUMNS].corr()

# Generate a mask for the upper triangle
mask = np.triu(np.ones_like(corr, dtype=bool))

# Set up the matplotlib figure
# f, ax = plt.subplots(figsize=(20, 20))
plt.figure(figsize=(20, 20))
# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(
    corr,
    mask=mask,
    cmap="vlag",
    vmin=-1,
    vmax=1,
    center=0,
    annot=True,
    fmt=".2f",
    square=True,
    linewidths=.5,
    cbar_kws={"shrink": .3}
)

plt.xticks(rotation=50.4, horizontalalignment="left")
plt.yticks(rotation=50.4, horizontalalignment="right")
plt.title("Correlación")
plt.tight_layout()